// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Analog Devices AD5592R
 * 
 * Copyright (C) 2025 Analog Devices, Inc.
 */
/dts-v1/;
#include "zynq-cora7s-axi-pwm-led.dts"

&spi0 {
		status = "okay";
	    ad5592r_s: spi_adc@0{
			reg = <0>;
			spi-max-frequency = <10000000>;
			compatible = "ad5592r_s";
			spi-cpol;
	    };
};

cat ${IIO_PATH}/iio:device0/in_voltage2_raw > ${IIO_PATH}/iio:device2/out_count2_raw