// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Analog Devices AD5592R
 * https://wiki.analog.com/resources/tools-software/linux-drivers/iio-adc/ad7192
 *
 *
 * Copyright (C) 2026 Analog Devices, Inc.
 */
/dts-v1/;
#include "zynq-coraz7s.dtsi"

&spi0 {
	status = "okay";

	ad5592r_s: spi_adc@0 {
		reg = <0>;
		spi-max-frequency = <10000000>;
		compatible = "ad5592r_s";
	};
};
